<div class="d-flex flex-column">
  <form [formGroup]="registrationGroup" (ngSubmit)="sendData()">
    <div class="form-group row">
      <label for="name" class="col-sm-2">
        Name:
      </label>
      <div class="col-sm-10">
        <input id="name" type="text" class="formControl" formControlName="name">
      </div>
      <app-invalid-paragraph [referredFormControlName]="name" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="surname" class="col-sm-2">
        Surname:
      </label>
      <div class="col-sm-10">
        <input id="surname" type="text" class="formControl" formControlName="surname">
      </div>
      <app-invalid-paragraph [referredFormControlName]="surname" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="mail" class="col-sm-2">
        Mail:
      </label>
      <div class="col-sm-10">
        <input id="mail" type="mail" class="formControl" formControlName="mail">
      </div>
      <app-invalid-paragraph [referredFormControlName]="mail" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="user" class="col-sm-2">
        Username:
      </label>
      <div class="col-sm-10">
        <input id="user" type="text" class="formControl" formControlName="user">
      </div>
      <app-invalid-paragraph [referredFormControlName]="user" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2">
        Password:
      </label>
      <div class="col-sm-10">
        <input id="password" type="password" class="formControl" formControlName="password">
      </div>
      <app-invalid-paragraph [referredFormControlName]="password" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-2">
        Confirm password:
      </label>
      <div class="col-sm-10">
        <input id="confirmPassword" type="password" class="formControl" formControlName="confirmPassword" (keyup)=0>
      </div>
      <app-invalid-paragraph [referredFormControlName]="confirmPassword" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="eta" class="col-sm-2">
        Età:
      </label>
      <div class="col-sm-10">
        <input id="eta" type="number" class="formControl" formControlName="eta" (keyup)=0>
      </div>
      <app-invalid-paragraph [referredFormControlName]="eta" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
        <div for="gender" class="col-sm-2">
          Genere:
        </div>
        <div class="col-sm-10 d-flex">
          <label for="male">
            <input id="male" type="radio" class="formControl" formControlName="gender" value="male" (keyup)=0>
            Maschio
          </label>
          <label for="female">
            <input id="female" type="radio" class="formControl rightInput" formControlName="gender" value="female" (keyup)=0>
            Femmina
          </label>
        </div>
        <app-invalid-paragraph [referredFormControlName]="eta" [conditionToShow]="submitted"></app-invalid-paragraph>
      </div>
    <div class="form-group row">
      <div class="col-sm-2">
        Stato civile:
      </div>
      <div class="col-sm-10 d-flex">
        <label for="sposato">
          <input id="sposato" type="radio" class="formControl" formControlName="civilState" value="sposato" (keyup)=0>
          Sposato
        </label>
        <label *ngIf="gender.value == 'male'" for="celibe">
          <input id="celibe" type="radio" class="formControl rightInput" formControlName="civilState" value="celibe" (keyup)=0>
          Celibe
        </label>
        <label *ngIf="gender.value == 'female'" for="nubile">
          <input id="nubile" type="radio" class="formControl rightInput" formControlName="civilState" value="nubile" (keyup)=0>
          Nubile
        </label>
      </div>
      <app-invalid-paragraph [referredFormControlName]="confirmPassword" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
          Sport:
        </div>
        <div class="col-sm-10 d-flex">
          <label for="calcio">
            <input id="calcio" type="checkbox" class="formControl" formControlName="sport" value="calcio" (keyup)=0>
            Calcio
          </label>
          <label for="basket">
              <input id="basket" type="checkbox" class="formControl rightInput" formControlName="sport" value="basket" (keyup)=0>
            Basket
          </label>
          <label for="altro">
            <input id="altro" type="checkbox" class="formControl rightInput" formControlName="sport" value="altro" (keyup)=0>
            Altro
          </label>
        </div>
        <app-invalid-paragraph [referredFormControlName]="confirmPassword" [conditionToShow]="submitted"></app-invalid-paragraph>
      </div>
    <button class="btn btn-primary" type="submit">Invia</button>
    <button class="btn btn-primary btn-reset" type="reset" (click)="resetData()">Reset</button>
    <div *ngIf="registrationGroup.errors?.invalidPassword && submitted">
      <p>La conferma della password non è valida</p>
    </div>
  </form>
</div>
