<div class="d-flex flex-column">
  <form [formGroup]="registrationGroup" (ngSubmit)="sendData()">
    <div class="form-group row">
      <label for="name" class="col-sm-2">
        Name:
      </label>
      <div class="col-sm-10">
        <input id="name" type="text" class="formControl" formControlName="name">
      </div>
      <app-invalid-paragraph [referredFormControlName]="name" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="surname" class="col-sm-2">
        Surname:
      </label>
      <div class="col-sm-10">
        <input id="surname" type="text" class="formControl" formControlName="surname">
      </div>
      <app-invalid-paragraph [referredFormControlName]="surname" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="mail" class="col-sm-2">
        Mail:
      </label>
      <div class="col-sm-10">
        <input id="mail" type="mail" class="formControl" formControlName="mail">
      </div>
      <app-invalid-paragraph [referredFormControlName]="mail" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="user" class="col-sm-2">
        Username:
      </label>
      <div class="col-sm-10">
        <input id="user" type="text" class="formControl" formControlName="user">
      </div>
      <app-invalid-paragraph [referredFormControlName]="user" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="password" class="col-sm-2">
        Password:
      </label>
      <div class="col-sm-10">
        <input id="password" type="password" class="formControl" formControlName="password">
      </div>
      <app-invalid-paragraph [referredFormControlName]="password" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-2">
        Confirm password:
      </label>
      <div class="col-sm-10">
        <input id="confirmPassword" type="password" class="formControl" formControlName="confirmPassword" (keyup)=0>
      </div>
      <app-invalid-paragraph [referredFormControlName]="confirmPassword" [conditionToShow]="submitted"></app-invalid-paragraph>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!registrationGroup.valid">Invia</button>
    <button class="btn btn-primary btn-reset" type="reset" (click)="resetData()">Reset</button>
    <div *ngIf="registrationGroup.errors?.invalidPassword && submitted">
      <p>La conferma della password non è valida</p>
    </div>
  </form>
</div>
